<!-- Team Card -->
<div class="card w-72 team-card" style="background-color: #{{ team.primary_color }}CC;">
  <div class="card-body justify-between align-middle" style="flex-direction: row" tabindex="{{ team.id }}">
    <!-- Team Info Dropdown -->
    <div class="card-title text-2xl">
      <h1>{{ team.school }}</h1>
    </div>
    <div class="justify-end">
      <div class="btn btn-ghost bg-transparent border-none">
        <i class="fa-solid fa-angle-right fa-lg"></i>
      </div>
    </div>
  </div>
</div>
<!-- Extra divs for 3D card hover effect, dont remove -->
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
